nav{
    font-size: 30px;
    background: rgba(0,0,0,0.3);
    width: max-content;
    display:block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
   position: fixed;
   bottom: 2rem;
   left:87vh;
   z-index: 1;
   gap:15px ;
   border-radius: 3rem;
   backdrop-filter: blur(15px);

}

nav a{
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background:gray;
}

nav a.active{
    background:var(--color-bg);
    color:var(--color-white);
}